<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Dashboard</h1>
<p th:text="'Bùi Vũ Tân'"></p>  <!-- Hiển thị tên -->

<h2>Pages</h2>
<ul>
  <li><a th:href="@{/page/all}">Page - List</a></li>
  <li><a th:href="@{/page/new}">Page - Addnew</a></li>
</ul>

<h2>Posts</h2>
<ul>
  <li><a th:href="@{/post/all}">Post - List</a></li>
  <li><a th:href="@{/post/new}">Post - Addnew</a></li>
</ul>

<p>©2025 Bùi Vũ Tân - FIT.NTU</p>
</body>
</html>