<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<header>
    <div class="bg-image">
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/homepage}">Home</a></li>
            <li><a th:href="@{/about}">About</a></li>
            <li><a th:href="@{/list}">List</a></li>
            <li><a th:href="@{/address}">Address</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Về chúng tôi</h1>
    <p>Đây là trang giới thiệu về tôi.</p>
    <p>Chúng tôi là con người</p>
</main>
<footer>
    <p>@ Bùi Vũ Tân</p>
</footer>
</body>
</html>