<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách sinh viên</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<header>
    <div class="bg-image">
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/homepage}">Home</a></li>
            <li><a th:href="@{/about}">About</a></li>
            <li><a th:href="@{/list}">List</a></li>
            <li><a th:href="@{/address}">Address</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Danh sách sinh viên</h1>
    <table>
        <thead>
        <tr>
            <th>MSSV</th>
            <th>Họ tên</th>
            <th>Điểm TB</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sv : ${dsSV}">
            <td th:text="${sv.mssv}"></td>
            <td th:text="${sv.hoTen}"></td>
            <td th:text="${#numbers.formatDecimal(sv.diemTb,1,1)}"></td>
        </tr>
        </tbody>
    </table>
</main>
<footer>
    <p>@ Bùi Vũ Tân</p>
</footer>
</body>
</html>